body {
	background-color: lightblue;
	color: black;
	font-family: Impact, Charcoal, sans-serif;
	font
	margin: 0px 0px 0px 0px;}
h2 {text color: white;}
p { 
  	font-family: alex-brush;
   	font-weight: normal; 
  	font-style: normal; 
}

footer {text-align: center}

