<style>
body {
	background-color: lightblue;
	color: black;
	font-family: 'AlexBrushRegular';
	margin: 0px 0px 0px 0px;}
h2 {text color: white;}
p { 
   font-weight: normal; 
   font-style: normal; 
}

footer {text-align: center}
</style>
