body {
  background-color: lightblue;
}

p { 
   font-family: 'Unique'; 
   font-weight: normal; 
   font-style: normal; 
}

label { 
   font-family: 'Unique'; 
   font-weight: normal; 
   font-style: normal; 
}

#upLeft {
float: left;

}
#downLeft {
float: left;
}
#upRight {

float: left;
}

#downRight {

float: left;
}
.clear {
clear: both;
}

.space {
  color:#F5F5F5
}
