header{
	font-family: unique;
	color: black;
	text-align: center;
	background-color: white}

body {
	font-family: Arial, Verdana, sans-serif;
	color: black;
	text-align: left;
	width: 90%;
	margin: 0 auto;
	background-color: violet;
	}
			
main {
	overflow: auto;}
		
nav, section, footer {
	margin: 1%;}

	li {
		display: inline;
		padding: 0.5em;}	
			
nav {
	font-family: Arial, Verdana, sans-serif;
	background-color: lightgray;
	padding: 0.5em 0;}	
			
footer {
	background-color: lightblue;
	padding: 0.5em 0;}
 	
