body {
	font-family: Comic Sans MS, cursive, sans-serif;
	width: 100%;
	margin: 0 auto;
	background-color: whitesmoke;}
main {
	overflow: auto;}
h1, h3 { 
	text-align: left;
	padding: 5px;  
	margin-right:auto; 
	margin-left:auto;
   	font-weight: bold; 
  	font-style: normal; }
			
nav, footer {margin: 1%;}
			
li {
	text-align: center;
	display: inline;
	padding: 0.5em;}
nav {
	font-family: Impact, Charcoal, sans-serif; 
	text-align: center;
	background-color: skyblue;
	padding: 0.5em 0;}

footer {
	background-color: seashell;
	text-align: center;
	padding: 0.5em 0;}

section{margin-bottom: 1em;}

section {
background-color: papayawhip;}
