#header{
	font-family: unique}
*{
	color: black;
	text-align: center;}

body {
	width: 100%;
	margin: 0 auto;
	background-color: lightgray;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4CAF50;
  color: white;
}
			
#section {
	overflow: auto;}
		
#footer {
	margin: 1%;}

#footer {
	background-color: lightblue;
	padding: 0.5em 0;} 
