* {
	font-family: Arial, Verdana, sans-serif;
	color: #665544;
	text-align: left;}
body {
	width: 90%;
	margin: 0 auto;
	background-color: lightblue;}
main {
	overflow: auto;}
h1{ 	background-color: red;
	padding: 5px;  
	margin-right:auto; 
	margin-left:auto;
   	font-family: 'Unique'; 
   	font-weight: normal; 
  	font-style: normal; }
			
nav, section, footer {margin: 1%;}
			
li {
	display: inline;
	padding: 0.5em;}
nav {
	background-color: lightgray;
	padding: 0.5em 0;}

footer {
	background-color: white;
	padding: 0.5em 0;}

section{margin-bottom: 1em;}

section {
 background-color: blue;}
