header {
  font-family: unique;}

body {
  margin: 0;
  padding: 0;
  background: lightblue;
}

.wrapper{
  width: 1000px;
  height: 800px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
}
.nav {
  background-color: black;
  width: 750px;
  height: 30px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 3px;
  border: 1px solid black;
}
 
.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}
 
footer{
  background-color: white;
  height: 90px;
  width: 752px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  bottom: 8px;
  z-index: 1;
  color: pink
}
